* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: plum;
}

h3, h4 {
  text-align: center;
  font-size: 25px;
  padding: 32px;
  color: blue;
  transform: translate(-28px, -28px);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
  padding: 90px;
  margin: auto;
  margin-top: 25px;
  cursor: pointer;
  transform: translate(-5px, -28px);
}

footer {
  text-align: center;
  color: blue;
  transform: translate(-28px, -58px);
}